    $background-color: #f7f7f7;
    $primary-color: #9356DC;
    $secondary-color: #FCA311;
    $green-color: #99E2D0;
    $green-font-color: #008766;
    $white-color: #fff;
    $black-color: #101010;
    $grey-color: #353535;
    $btn-gradient: linear-gradient(200deg, #9356DC -5.2%, #FF79DA 110.74%);
    $background2-color: #EAEAEA;
    $primary2-color: #F5EDFF;
    $grey-tint4-color: #7E7E7E;
    $box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    $box-shadow-less: 0px 4px 10px rgba(0, 0, 0, 0.10);
    $grey-background: #d2d2d2;
    $button-hover-color: #F5EDFF;
