.footer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
padding: 20px;
    & div {
        margin-top:5px;
        margin-bottom:5px;
    }

    & .ml-10{
        margin-left: 10px;
    }

    & img{
    
    }

    & #contact {
        color: white;
    }
} 

.footer-title{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}

