.footer {
    display: flex;
    flex-direction: column;
    color: $white-color;
    background-color: $black-color;
    padding: 20px;

    & div {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    & .ml-10 {
        margin-left: 10px;
    }

    & #contact {
        color: $white-color;
    }
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}