
.place {
    text-align: center;
    padding: 10px;
    background-color: $background2-color;
    
    &__text{
        @include roboto-500-16;
        text-align: center;
        line-height: 30px;
        height:30px;
        
        &::before{
            content:'';
            background: url(../assets/icons/Pin.svg) no-repeat center;
            display: inline-block;
            width: 20px;
            height:20px;
            vertical-align: sub;
        }
    }
}



.functioning {
    position: relative;
    & h2{
        @include roboto-700-24;
        margin: 20px;
    }

    & .three-buttons{
        display: flex;
        flex-direction: column;
    }
}


.restaurants {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 20px;;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    

    & h2{
        margin-top: 10px;
        margin-bottom:30px;
        @include roboto-700-24;
    }

    &__card{
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        
        &.new::before{
            position: absolute;
            content: 'Nouveau';
            background-color: lightgreen;
            padding:5px;
            right:15px;
            top: 15px;
            background-color: $green-color;
            @include roboto-500-14;
        }
        

        &:hover{
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        &__img {
            height:200px;
            object-fit: cover;
            top: 50px;
        }

        &__description{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding:15px;

            & .heart-icon {
                width: 20px;
                height: 20px;
                position: relative;
                
                background: url("../assets/icons/h1.svg") center no-repeat;
               &:hover{
                    animation-direction: forwards;
                    animation-name: fill-in;
                    animation-fill-mode: both;
                    animation-duration: 2000ms;
                    animation-timing-function: linear;
                    background: url("../assets/icons/h2.svg") center no-repeat;
                }

                @keyframes fill-in {
                    50% {transform: scale(0.5)}
                    100% {transform: scale(1)}
                }
            }
        }

        & .restaurant-name{
            
            & h3{
                @include roboto-700-18;
            }

            & p{
                @include roboto-300-17;
            }
        }
    }
}

/*
.new::before{
    position: absolute;
    content: 'Nouveau';
    background-color: lightgreen;
    padding:5px;

}*/


@media screen and (min-width: 768px){
    


    .functioning {
        & .three-buttons{
            flex-direction: row;
            /*justify-content: space-evenly;*/
        }
    }

    
    
    
    .restaurants{
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding-top: 70px;
        gap: 10px;
        &__card{
            width:22%;
        }

        & h2{
            position: absolute;
            left: 20px;
            top: 20px;
        }        
    }

    .footer {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
        & :nth-child(1) {
            order: 5;
        }
    }  
}

