.function-button {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    white-space: nowrap;
    background-color: $background-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    @include roboto-500-16;

    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        background-color: $button-hover-color;
        

        i {
            color: $primary-color;
        }
    }

    &__number {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        padding-top: 2px;
        align-self: center;
        left: 10px;
        color: $white-color;
        background-color: $primary-color;
        border-radius: 100px;
    }

    & i {
        position: relative;
        right: 15px;
        width: 15px;
    }

    &__text {
        width: 175px;
        text-align: start;
    }
}

.btn-gradient {
    background-color: $background-color;
    text-align: center;
    padding: 20px;

    & h2 {
        @include roboto-700-24;
        padding: 10px;
    }

    & h3 {
        @include roboto-300_18;
        padding: 10px;
        margin-bottom: 10px;
    }

    & #commander {
        padding-left: 40px;
        padding-right: 40px;
    }

    & button {
        @include roboto-500_16;
        padding: 10px;
        border-radius: 25px;
        border: none;
        margin-bottom: 20px;
        background: $btn-gradient;
        color: $white-color;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        &:hover {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
            filter: brightness(110%);
        }
    }
}

@media screen and (min-width: 768px) {

    .function-button {
        width: 30%;
        position: relative;
        padding-left: 30px;
        white-space: nowrap;

        &__number {
            position: absolute;
            left: -10px;
        }
    }
}