.heart{
    
    height: 25px;
    width: 25px;
    margin-right: 20px;
    background: url("../assets/icons/Heart-regular.svg") no-repeat center;

    &__img{
        width: 25px;
        height: 25px;
      
        opacity: 0;
        transition: opacity 1000ms;
    }

    &__img:hover{
        opacity: 1;
    }
}
