:root {
    --primary-color: #9356DC;
    --green-color: #99E2D0;
    --grey-color: #353535;

}

body,
p,
h1, h2 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

html {
    min-width: 320px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}

.header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}
/**************************************/
#header-arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    /*left:10%;*/
    margin-right: 300px;
    height:50px;
    width:50px;
    border-radius: 25px;

}

#header-arrow-container:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#header-arrow{
    width:20px;
    height:20px;
}

#header-arrow-path {
    fill: var(--primary-color);
}

/******************************************/

.img-header {
    width: 162px;
    height: 30px;
    position: absolute;
}

.img-menu {
   /*new*/
  /* align-self: stretch;*/
}

.img-resto {
    object-fit: cover;
    width: 100%;
    height: 275px;
}

.menu {
    display: flex;
    flex-direction: column;
   
    width: 100%;
}

.b {
    border: 1px solid black;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shrikhand-400-28 {
    font-family: 'Shrikhand', 'cursive';
    font-weight: 400;
    font-size: 28px;
}

.roboto {
    font-family: 'Roboto', 'sans-serif';
}

.roboto-700-15 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: 15;

}

.roboto-500-18 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 18;
}

.roboto-400-16 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 16;
}


.mr-50 {
    margin-right: 50px;
}


#heart {
    width: 22px;
    height: 21px;
    stroke: #000000;
    fill: url(#MyGradient);
    fill-opacity: 0;
    animation-name: colorchange;
    transition-property: fill-opacity;
    transition-duration: 1000ms;

}

#heart:hover {
    fill-opacity: 1;
    cursor: pointer;
}



.repas a{
    display: none;
}
.repas:hover a {
    display: initial;
    animation: repas-check 500ms;
}


@keyframes repas-check {
    0% { transform: translateX(40px);}    
    100% {transform: translateX(0);}
}

.h2-course {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h2-course-sousligne {
    width: 55px;
    border-top: 5px solid var(--green-color);
    margin-bottom: 20px;
}

.center-page{
    display: flex;
    flex-direction: column;
}

.resto-entier{
    width: 100%;
}

.course {
    display: flex;
    flex-direction: column;
    align-self: center;
    box-sizing: border-box;
    width:100%;
    background-color: #f7f7f7;
    margin-top: -50px;
    padding: 20px;
    border-radius: 40px 40px 0 0;
}



.trois-repas {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-bottom:20px;
    gap: 20px;
}

@keyframes repas-in {
    0% {transform: translateX(-900px);}
    100% {transform: translateX(0); } 
}

#entrees{
    animation: repas-in 2s 300ms forwards;
}

#plats{
    animation: repas-in 2s 600ms forwards;
}

#desserts{
    animation: repas-in 2s 900ms forwards;
}



.ok-check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    width: 59px;
    height: 69px;
    border-radius: 0 15px 15px 0;
}

.repas {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: space-between;

    height: 69px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /*border: 1px solid black;*/
}

.repas:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}


.repas-descrip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: white;*/
    width: 100%;
    border-radius: 15px;
}

.repas-flex-row {
    display: flex;
    align-items: flex-end;
}

.repas-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.p-10 {
    padding: 10px;
}



.footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--grey-color);
}

.img-footer{
    width: 162px;
    height: 30px;
    position: initial;
}

#contact {
    color: white;
}

.ml-10{
    margin-left: 10px;
}

/*ALL FLEXBOX ITEMS THE SAME PADDING*/
.footer>*{
    padding-top:10px;
}

/* animations repas*/

@media screen and (min-width: 768px){

    .course{
        width: 100%;
        max-width: 1100px;
        
    }

    .resto-entier{
        width:720px;
        background-color: #f7f7f7;
        align-self: center;
        /*border: 1px solid red;*/
    }

    .footer {
        flex-direction: row;
        justify-content: center;
        /*padding-right: 15%;*/
        align-items: center;
        gap: 20px;
    }

    .footer :nth-child(1) {
        order: 5;
    }

    .menu-header{
        justify-content: center;
    }
    .center-page{
        /*display: flex;
        min-width: 100%;
        max-width: 1440px;*/
/*    width: 100%;
        display: flex;
        justify-content: center; */
        
    }

}