html {
    min-width: 320px;
    max-width: 1440px;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: initial;
}

:root {
    --background-color: #f7f7f7;
    --primary-color: #9356DC;
    /* var(--main-color) */
    --secondary-color: #FCA311;
    /* var(--second-color) */
    --green-color: #99E2D0;
    --green-font-color: #008766;
    --white-color: #fff;
    --black-color: #101010;
    --grey-color: #353535;
    --btn-gradient: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --grey2-color: #EAEAEA;
    --primary2-color: #F5EDFF;
    --grey-tint4-color: #7E7E7E;
    --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    --grey-background: #d2d2d2;
}


body {
    margin-left: auto;
    margin-right: auto;
    width: 100%px;
    min-width: 320px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.roboto-700-24 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.roboto-700-18 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin:0;
}


.roboto-300-18 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin:0;
}

.roboto-300-17 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin:0;
}

.roboto-500-16 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

a {
    color: black;
    text-decoration: none;
}

.img-header {
    width: 162px;
    height: 30px;
}


header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    height: 50px;
    background-color: #eaeaea;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location>img {
    position: relative;
    right: 15px;
}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-h2,
.reservation-h3 {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 0px;
}

.reservation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 30px 30px;
    background-color: var(--background-color);
}

.reservation p {
    width: 315px;
    text-align: center;
}

.btn {
    border-radius: 25px;
    padding: 10px;
    background: var(--btn-gradient);
    color: var(--white-color);
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-bottom: 15px;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 30px 18px 18px;
    margin-bottom: 20px;

}

.btns-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.b {
    border: 1px solid black;

}

.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;

    border: none;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    font-weight: 500;
    font-size: 16px;
}

.btn-content:hover{
    background-color: var(--primary2-color);
}

.btn-content:hover .mobile{
    filter:  invert(46%) sepia(36%) saturate(7077%) hue-rotate(244deg) brightness(92%) contrast(86%);    
}



.mob-text {
    display: flex;
    width:215px;
    gap: 15px;
    padding-left: 20px;
    padding-right: 10px;
}



.chiffre {
    position:absolute;
    margin-right: auto;
    left:22px;
    color: var(--white-color);
}

.ellipse {
    left:0;
    position: absolute;
    margin-right: auto;
    left:15px;    
}



.restaurants {
    padding: 18px;
    background-color: var(--background-color);
}

.restaurants-h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.cards-restaurants {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resto-link {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.card-resto {

    object-fit: cover;
    /*height: 251px;*/
    /*border-radius: 15px;*/
    /*overflow: hidden;*/
    /*box-shadow: var(--box-shadow);*/
    
}

.img-resto {
    object-fit: cover;
    width: 100%;
    height: 175px;
}

.nom-resto {

    /*margin-top: 10px;
    margin-left: 10px;*/
    margin-bottom: 5px;
}

.location-resto {


}

.desc-resto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    
    
    
}

.icon-resto {
    width: 13%;
    
    
    
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--grey-color);
}

/*ALL FLEXBOX ITEMS THE SAME PADDING*/
.footer>* {
    padding-top: 10px;
    
}

#contact {color: white;}

.ml-10 {
    margin-left: 10px;

}




@media screen and (min-width: 768px) {
    .btns-fonctionnement{
        flex-direction: row;
        gap: 20px;
    }

    .btn-content{
        position: relative;
    }

    .ellipse{
        position: absolute;
        left: -10px;
        top: 34%;
    }

    .chiffre {
        position: absolute;
        left: -3px;
    }

    .cards-restaurants {
        flex-direction: row;
        justify-content: space-between;
        
    }

    .resto-link{
        width: 22.5%;
        
    }

    .card-resto {
        width: 100%;
    }
    
    .footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer :nth-child(1){
        order: 5;
    }

}

       
#heart {
    width: 22px;
    height: 21px;
    stroke: #000000;
    fill: url(#MyGradient);
    fill-opacity:0;
    animation-name: colorchange;
    transition-property: fill-opacity;
    transition-duration: 1000ms;

}

#heart:hover {
    fill-opacity:1;
}


